<p class="govuk-body">
  {% if has_pinned_models %}
    Showing selected models and {{ visible_count }} of {{ match_count }} model{{ match_count|pluralize }} matching your filters.
  {% else %}
    Showing {{ visible_count }} of {{ match_count }} model{{ match_count|pluralize }}
  {% endif %}
  {% if has_more %}
    <span class="govuk-!-margin-left-4"><a class="govuk-link"
   href="{{ model_filter_url }}?expanded=1"
   hx-get="{{ model_filter_url }}"
   hx-vals='{"expanded": "1"}'>Show all</a></span>
  {% endif %}
</p>
