@use "node_modules/govuk-frontend/dist/govuk" as * with (
  $govuk-assets-path: "/static/assets/"
);

// Share config with MOJ Frontend
@forward "node_modules/@ministryofjustice/frontend/moj/all" with (
  $moj-assets-path: $govuk-assets-path
);
@use "node_modules/@x-govuk/govuk-prototype-components/src/x-govuk";
@use "components/copy-button/copy-button";
@use "components/usage/usage";

$masthead-background-color: #381a62;

.app-width-container--full {
  max-width: none;
  padding: 0 govuk-spacing(6);
}

.x-govuk-masthead.x-govuk-masthead--inverse {
  background-color: $masthead-background-color;
}

.moj-header--inverse {
  background-color: $masthead-background-color;
  border-bottom-color: $masthead-background-color;
}

.govuk-service-navigation--inverse {
  background-color: $masthead-background-color;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  .govuk-width-container {
    border-color: govuk-colour("white");
  }
}

.info-panel {
  background-color: #f4f8fb;
  padding: govuk-spacing(3);
  border: 1px solid #8eb8fc;
}

.app-key-panel {
  padding: govuk-spacing(3);
  margin-bottom: 30px;
  border: 1px solid $govuk-border-colour;
}

.app-key-token {
  display: inline-block;
  box-sizing: border-box;
  @include govuk-font($size: 19, $line-height: 19px, $weight: bold);
  padding: 8px govuk-spacing(2) 7px;
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour("blue", $variant: "tint-95");
  vertical-align: baseline;
}

.info-panel-home-width {
  max-width: 652px;
}

.home-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.masthead-image {
  display: block;
  max-width: 90%;
  height: auto;
  margin-top: govuk-spacing(7);
}

.moj-button {
  background-color: govuk-colour("blue");
  box-shadow: 0 2px 0 govuk-colour("blue", $variant: "shade-50");
}

.moj-button:hover {
  background-color: govuk-colour("blue", $variant: "shade-25");
}

.project-link {
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
}

.app-ai-gateway-key-table {
  table-layout: fixed;
  width: 100%;
}

.app-ai-gateway-key-table__name {
  width: 40%;
}

.app-ai-gateway-key-table__key-id {
  width: 25%;
}

.app-ai-gateway-key-table__created-on {
  width: 20%;
}

.app-ai-gateway-key-table__actions {
  width: 15%;
}

.app-ai-gateway-key-table__value {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: anywhere;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-check-details-table__column--35 {
  width: 35%;
}

.app-check-details-table__column--50 {
  width: 50%;
}

.app-check-details-table__column--15 {
  width: 15%;
}

.ai-gateway-key-detail {
  background-color: govuk-colour("blue", $variant: "tint-95");
  padding: govuk-spacing(4);

  .govuk-summary-list__row {
    padding: 0;
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    padding: 0;
  }
}

.ai-gateway-model-filters {
  border: 1px solid govuk-colour("blue", $variant: "tint-50");
  padding: govuk-spacing(4);
  padding-bottom: govuk-spacing(0);
  background-color: govuk-colour("blue", $variant: "tint-95");
}

// remove margin when these 2 classes are together
.govuk-tabs.app-usage-tabs {
  margin-bottom: 0px;
}
