@use "node_modules/govuk-frontend/dist/govuk" as * with (
  $govuk-assets-path: "/static/assets/"
);

// Share config with MOJ Frontend
@forward "node_modules/@ministryofjustice/frontend/moj/all" with (
  $moj-assets-path: $govuk-assets-path
);
@use "node_modules/@x-govuk/govuk-prototype-components/src/x-govuk";

.app-width-container--full {
  max-width: none;
  padding: 0 govuk-spacing(6);
}

.x-govuk-masthead.x-govuk-masthead--inverse {
  background-color: govuk-colour("black");
}

.moj-header {
  border-bottom-color: govuk-colour("black");
}

.govuk-service-navigation--inverse {
  background-color: govuk-colour("black");

  .govuk-width-container {
    border-color: govuk-colour("white");
  }
}
