{% extends "base/base.html" %}
{% load static %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Projects</h2>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <a class="govuk-button govuk-button--secondary" href="#">Create a project</a>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Create a project to get access to a wide range of large language models and AI tools through the AI gateway API.
      </p>
    </div>
    <!-- Display projects here -->
  </div>
{% endblock content %}
