{% extends "base/base.html" %}
{% load static %}
{% block title %}
  Your projects - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block content %}
  <div class="govuk-grid-row">
    {% if success_message %}
      <div class="govuk-grid-column-full">
        <div role="region"
             class="moj-alert moj-alert--success moj-alert--with-heading"
             aria-label="success: {{ success_message.heading }}"
             data-module="moj-alert">
          <div>
            <svg class="moj-alert__icon"
                 role="presentation"
                 focusable="false"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 30 30"
                 height="30"
                 width="30">
              <path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
            </svg>
          </div>
          <div class="moj-alert__content">
            <h2 class="moj-alert__heading">{{ success_message.heading }}</h2>
            {% if success_message.message %}
              <p>{{ success_message.message }}</p>
            {% endif %}
          </div>
          <div class="moj-alert__action">
            <button class="moj-alert__dismiss" hidden>Dismiss</button>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Projects</h2>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <a class="govuk-button govuk-button--secondary"
         href="{% url 'projects:project_create' %}">Create a project</a>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Create a project to get access to a wide range of large language models and AI tools through the AI gateway API.
      </p>
    </div>
    {% if user_projects %}
      {% for project in user_projects %}
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-3">
          <div class="info-panel">
            <a href="{% url 'projects:project_detail' project.slug %}"
               class="govuk-link project-link">{{ project.name }}</a>
            <p class="govuk-body">{{ project.description }}</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
