{% extends "base/project_layout.html" %}
{% load static %}
{% load project_permissions %}
{% block title %}
  {{ project.name }} members - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block back_link %}
  <a href="{% url 'projects:projects_list' %}" class="govuk-back-link">Back to projects</a>
{% endblock back_link %}
{% block project_main_content %}
  {% has_project_permission request.user "projects.manage_members" project as can_manage_members %}
  <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
    <h2 class="govuk-heading-m">Project members</h2>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-padding-right-0 govuk-!-text-align-right">
    {% if can_manage_members %}
      <a class="govuk-button govuk-button--secondary"
         href="{% url 'projects:project_users_add' project.uuid %}">Add a member</a>
    {% endif %}
  </div>
  {% if project.memberships.all %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Permissions</th>
          <th scope="col" class="govuk-table__header">
            <span class="govuk-visually-hidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for membership in project.memberships.all %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p class="govuk-!-font-weight-bold govuk-!-margin-top-0">{{ membership.user.full_name }}</p>
              <p class="govuk-hint govuk-!-margin-bottom-0">{{ membership.user.email }}</p>
            </td>
            <td class="govuk-table__cell">
              {% with permissions=membership.permissions.all %}
                {% if permissions %}
                  {% for assignment in permissions %}
                    {{ assignment.permission.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% else %}
                  No permissions
                {% endif %}
              {% endwith %}
            </td>
            <td class="govuk-table__cell govuk-!-text-align-right">
              {% if can_manage_members and membership.user != project.owner %}
                <a href="{% url 'projects:project_user_remove' project.uuid membership.user.id %}"
                   class="govuk-link">Remove<span class="govuk-visually-hidden"> {{ membership.user.full_name }}</span></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">No users currently have access to this project.</p>
  {% endif %}
{% endblock project_main_content %}
