{% extends "base/project_layout.html" %}
{% load static %}
{% block title %}
  {{ project.name }} users - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block back_link %}
  <a href="{% url 'projects:projects_list' %}" class="govuk-back-link">Back to projects</a>
{% endblock back_link %}
{% block project_main_content %}
  <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
    <h2 class="govuk-heading-m">Project members</h2>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-padding-right-0 govuk-!-text-align-right">
    <a class="govuk-button govuk-button--secondary"
       href="{% url 'projects:project_users_add' project.uuid %}">Add a member</a>
  </div>
  {% if project.user_permissions.all %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">
            <span class="govuk-visually-hidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for permission in project.user_permissions.all %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ permission.user.full_name }}</td>
            <td class="govuk-table__cell govuk-!-text-align-right">
              <a href="{% url 'projects:project_user_remove' project.uuid permission.user.id %}"
                 class="govuk-link">Remove member</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">No users currently have access to this project.</p>
  {% endif %}
{% endblock project_main_content %}
