<header class="moj-header {% if show_masthead %}moj-header--inverse{% endif %}"
        role="banner">
  <div class="moj-header__container">
    <div class="moj-header__logo">
      {% include "base/moj_header.svg" %}
      <a class="moj-header__link" href="{% url 'home' %}">
        <span class="moj-header__link--organisation-name">Ministry of Justice</span>
        <span class="moj-header__link--service-name">Justice Data Platform</span>
      </a>
    </div>
    <div class="moj-header__content">
      <nav class="moj-header__navigation" aria-label="Account navigation">
        <ul class="moj-header__navigation-list">
          <li class="moj-header__navigation-item"></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
