<header class="moj-header{% if inverse_header %} moj-header--inverse{% endif %}"
        role="banner">
  <div class="moj-header__container">
    <div class="moj-header__logo">
      {% include "base/moj_header.svg" %}
      <a class="moj-header__link"
         href="{% if on_app_route %}{% url 'landing' %}{% else %}{% url 'home' %}{% endif %}">
        <span class="moj-header__link--organisation-name">Ministry of Justice</span>
        <span class="moj-header__link--service-name">Justice Data Platform</span>
      </a>
    </div>
    <div class="moj-header__content">
      <nav class="moj-header__navigation" aria-label="Account navigation">
        <ul class="moj-header__navigation-list">
          {% if user.is_authenticated %}
            <li class="moj-header__navigation-item">
              <a class="moj-header__navigation-link" href="{% url 'landing' %}">{{ request.user.email }}</a>
            </li>
            <li class="moj-header__navigation-item">
              <a class="moj-header__navigation-link" href="{% url 'logout' %}">Sign out</a>
            </li>
          {% else %}
            <li class="moj-header__navigation-item">
              <a class="moj-header__navigation-link" href="{% url 'login' %}">Sign in</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
