{% extends "base/base.html" %}
{% block content %}
  <div class="govuk-grid-row">
    {% if success_message %}
      <div class="govuk-grid-column-full">
        {% include "includes/success_message.html" with heading=success_message.heading message=success_message.message only %}
      </div>
    {% endif %}
    {% if error_message %}
      <div class="govuk-grid-column-full">
        {% include "includes/error_message.html" with heading=error_message.heading message=error_message.message only %}
      </div>
    {% endif %}
    <div class="govuk-grid-column-full">
      {% block project_page_heading %}
        <h2 class="govuk-heading-l">{{ project.name }}</h2>
      {% endblock project_page_heading %}
    </div>
    {% include "includes/sidebar.html" with project=project active_project_section=active_project_section active_ai_gateway_section=active_ai_gateway_section FEATURE_FLAGS=FEATURE_FLAGS only %}
    <div class="govuk-grid-column-three-quarters">
      {% block project_main_content %}
      {% endblock project_main_content %}
    </div>
  </div>
{% endblock content %}
