<div class="govuk-grid-column-one-quarter">
  <nav class="moj-side-navigation govuk-!-padding-top-0"
       aria-label="Project sections">
    <ul class="moj-side-navigation__list">
      <li class="moj-side-navigation__item{% if active_project_section == 'overview' %} moj-side-navigation__item--active{% endif %}">
        <a href="{% url 'projects:project_detail' project.uuid %}"
           {% if active_project_section == 'overview' %}aria-current="location"{% endif %}>Overview</a>
      </li>
      <li class="moj-side-navigation__item{% if active_project_section == 'ai_gateway' and not active_ai_gateway_section %} moj-side-navigation__item--active{% endif %}">
        <a href="{% url 'ai_gateway:key_list' project.uuid %}"
           {% if active_project_section == 'ai_gateway' and not active_ai_gateway_section %}aria-current="location"{% endif %}>AI Gateway</a>
        <ul class="moj-side-navigation__list govuk-!-margin-left-3 govuk-!-margin-bottom-">
          <li class="moj-side-navigation__item{% if active_ai_gateway_section == 'keys' %} moj-side-navigation__item--active{% endif %}">
            <a href="{% url 'ai_gateway:key_list' project.uuid %}"
               {% if active_ai_gateway_section == 'keys' %}aria-current="location"{% endif %}>API keys</a>
          </li>
          {% if FEATURE_FLAGS.AI_GATEWAY_COSTS %}
            <li class="moj-side-navigation__item{% if active_ai_gateway_section == 'usage' %} moj-side-navigation__item--active{% endif %}">
              <a href="{% url 'ai_gateway:usage' project.uuid %}"
                 {% if active_ai_gateway_section == 'usage' %}aria-current="location"{% endif %}>Usage</a>
            </li>
          {% endif %}
        </ul>
      </li>
      <li class="moj-side-navigation__item{% if active_project_section == 'members' %} moj-side-navigation__item--active{% endif %}">
        <a href="{% url 'projects:project_users' project.uuid %}"
           {% if active_project_section == 'members' %}aria-current="location"{% endif %}>Project members</a>
      </li>
    </ul>
  </nav>
</div>
