{% extends "base/base.html" %}
{% block title %}
  Create a key - {{ project.name }} - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block back_link %}
  <a href="{% url 'ai_gateway:key_list' project.uuid %}"
     class="govuk-back-link">Back to {{ project.name }}</a>
{% endblock back_link %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Create a key</h1>
      {% include "includes/forms/_error_summary.html" with form=form only %}
      <form method="post" action="{% url 'ai_gateway:key_create' project.uuid %}">
        {% csrf_token %}
        {% include "includes/fields/_text_input.html" with field=form.name width='govuk-!-width-one-half' only %}
        {% url 'ai_gateway:key_list' project.uuid as cancel_url %}
        {% include "includes/ai_gateway/_model_selection.html" with cancel_url=cancel_url %}
      </form>
    </div>
  </div>
{% endblock content %}
