{% extends "base/base.html" %}
{% load static %}
{% block title %}
  AI gateway keys - {{ project.name }} - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block back_link %}
  <a href="{% url 'projects:project_detail' project.slug %}"
     class="govuk-back-link">Back to project</a>
{% endblock back_link %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ project.name }}</span>
      <h1 class="govuk-heading-xl">AI gateway keys</h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <a class="govuk-button"
         href="{% url 'ai_gateway:key_create' project.slug %}">Generate a key</a>
    </div>
    <div class="govuk-grid-column-full">
      {% if keys %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Key</th>
              <th scope="col" class="govuk-table__header">Created</th>
              <th scope="col" class="govuk-table__header">Created by</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for key in keys %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ key.name }}</td>
                <td class="govuk-table__cell">{{ key.masked_key }}</td>
                <td class="govuk-table__cell">{{ key.created|date:"d F Y" }}</td>
                <td class="govuk-table__cell">
                  {% if key.created_by %}
                    {{ key.created_by.full_name }}
                  {% else %}
                    Unknown
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="govuk-body">No keys have been generated for this project yet.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
