{% extends "base/base.html" %}
{% block title %}
  Revoke key - {{ project.name }} - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block back_link %}
  <a href="{% url 'projects:project_detail' project.uuid %}"
     class="govuk-back-link">Back to project</a>
{% endblock back_link %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ key.name }}</span>
      <h1 class="govuk-heading-xl">Revoke key</h1>
      <h2 class="govuk-heading-m">Are you sure you want to revoke this API key?</h2>
      <p class="govuk-body">You'll permanently disable this API key. Applications using this key will stop working.</p>
      <p class="govuk-body">This cannot be undone.</p>
      <form method="post"
            action="{% url 'ai_gateway:key_revoke' project.uuid key.pk %}">
        {% csrf_token %}
        <div class="govuk-button-group">
          <button type="submit"
                  class="govuk-button govuk-button--warning govuk-!-margin-right-2">Revoke</button>
          <a href="{% url 'ai_gateway:key_detail' project.uuid key.pk %}"
             class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
