{% extends "base/project_layout.html" %}
{% load static %}
{% block title %}
  AI gateway keys - {{ project.name }} - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block back_link %}
  <a href="{% url 'projects:project_detail' project.uuid %}"
     class="govuk-back-link">Back to {{ project.name }}</a>
{% endblock back_link %}
{% block project_main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">AI gateway</h2>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <a class="govuk-button govuk-button--secondary"
         href="{% url 'ai_gateway:key_create' project.uuid %}">Create API key</a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Create and manage API keys to securely access AI models for this project.</p>
      {% if keys %}
        <table class="govuk-table app-ai-gateway-key-table"
               data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col"
                  class="govuk-table__header app-ai-gateway-key-table__name"
                  aria-sort="none">Key name</th>
              <th scope="col"
                  class="govuk-table__header app-ai-gateway-key-table__key-id"
                  aria-sort="none">Key ID</th>
              <th scope="col"
                  class="govuk-table__header app-ai-gateway-key-table__created-on"
                  aria-sort="none">Created on</th>
              <th scope="col"
                  class="govuk-table__header app-ai-gateway-key-table__actions"><span class="govuk-visually-hidden">Actions</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for key in keys %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <span class="app-ai-gateway-key-table__value">{{ key.name }}</span>
                </td>
                <td class="govuk-table__cell">
                  <span class="app-ai-gateway-key-table__value">{{ key.litellm_token }}</span>
                </td>
                <td class="govuk-table__cell"
                    data-sort-value="{{ key.created|date:'U' }}">{{ key.created|date:"d F Y" }}</td>
                <td class="govuk-table__cell govuk-!-text-align-right"><a href="{% url 'ai_gateway:key_detail' project.uuid key.pk %}"
   class="govuk-link">Manage</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="govuk-body">No keys have been generated for this project yet.</p>
      {% endif %}
    </div>
  </div>
{% endblock project_main_content %}
