{% extends "base/base.html" %}
{% load static %}
{% block title %}
  Create an AI gateway key - {{ project.name }} - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block back_link %}
  <a href="{% url 'ai_gateway:key_list' project.uuid %}"
     class="govuk-back-link">Back to {{ project.name }}</a>
{% endblock back_link %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Create a key</h1>
      {% include "includes/forms/_error_summary.html" with form=form only %}
      <form method="post" action="{% url 'ai_gateway:key_create' project.uuid %}">
        {% csrf_token %}
        {% include "includes/fields/_text_input.html" with field=form.name only %}
        {% include "includes/ai_gateway/_model_multi_select.html" with field=form.models available_models=available_models model_filter_form=model_filter_form clear_filters_url=request.path only %}
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button">Create</button>
          <a href="{% url 'ai_gateway:key_list' project.uuid %}"
             class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
