{% extends "base/base.html" %}
{% block title %}
  404 Not Found
{% endblock title %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">If you typed the web address, check it is correct.</p>
      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
      <p class="govuk-body">
        If the web address is correct or you selected a link or button, please
        <a href="mailto:data-platform@justice.gov.uk" class="govuk-link"> email the Data Platform team at data-platform@justice.gov.uk</a>.
      </p>
    </div>
  </div>
{% endblock content %}
