{% extends "base/base.html" %}
{% block title %}
  Accessibility statement - Justice Data Platform | Ministry of Justice
{% endblock title %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Justice Data Platform Accessibility Statement</h1>
      <div class="govuk-inset-text">This documentation site is actively being worked on.</div>
      <p class="govuk-body">
        We want as many people as possible to be able to use this service. If you have
        difficulty using any part of this service, contact us at
        <a class="govuk-link" href="mailto:justicedataplatform@justice.gov.uk">justicedataplatform@justice.gov.uk</a>.
      </p>
    </div>
  </div>
{% endblock content %}
