// Hide copy text links if Javascript is disabled
.copy-button {
  display: none;
}

body.js-enabled {
  .copy-button {
    display: inline;
    border: 1px solid #1a65a6;
    background-color: #ffffff;
    color: #1a65a6;
    box-shadow: none;
    vertical-align: baseline;
  }

  @media print {
    .copy-button {
      display: none;
    }
  }
}

.disable-click {
  pointer-events: none;
  background-color: transparent;
  box-shadow: none;
}
